.hero-section {
  width: 100%;
  padding-bottom: 25px;
  height: 465px;
  /* border: 2px solid; */
}
.section-center {
  width: 100%;
  background-color: #495e57;
}
article {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40.6rem;
  position: relative;
}

.hero-text {
  width: 399px;
  height: 333.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.hero-text h1 {
  font-size: 5.6rem;
  font-weight: 500;
  color: #bedb0a;
}

.hero-text header > p {
  color: white;
}

.hero-text p {
  font-size: 2.1rem;
  color: #e6e6e6;
  line-height: 2.8rem;
  width: 332px;
  word-wrap: break-word;
}

.table-btn {
  display: block;
  font-size: 2rem;
  font-weight: 600;
  padding: 15px 20px;
  border-radius: 16px;
  background-color: #f4ce14;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.2s ease-in;
}
.table-btn:hover {
  filter: brightness(0.8);
}

.hero-img img {
  width: 375px;
  height: 438px;
  object-fit: cover;
  position: absolute;
  bottom: -55px;
  right: 0;
  z-index: 10;
}
