.heroSection {
  width: 100%;
  padding-bottom: 25px;
  height: 465px;
}
.sectionCenter {
  width: 100%;
  background-color: #495e57;
}
.heroArticle {
  max-width: 920px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40.6rem;
  position: relative;

}

.heroText {
  max-width: 400px;
  /* height: 333.5px; */
  height: 83%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  /* border: 2px solid; */
}

.heroText h1 {
  font-size: 5.6rem;
  font-weight: 500;
  color: #bedb0a;
}

.heroText header > p {
  color: white;
}

.heroText p {
  font-size: 2.1rem;
  color: #e6e6e6;
  line-height: 2.8rem;
  width: 332px;
  word-wrap: break-word;
}

.tableBtn {
  display: block;
  font-size: 2rem;
  font-weight: 600;
  padding: 15px 20px;
  border-radius: 16px;
  background-color: #f4ce14;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.2s ease-in;
}
.tableBtn:hover {
  filter: brightness(0.8);
}

.heroImg img {
  width: 375px;
  height: 438px; 
  object-fit: cover;
  position: absolute;
  bottom: -55px;
  right: 0;
  /* right:10px; */
  z-index: 10;
}
