.card {
  /* max-width: 27rem; */
  width: 265px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2.1fr 2.2fr;
  grid-template-rows: 1fr 1.05fr;
  row-gap: 1rem;
  background-color: #edefee;
  overflow: hidden;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.cardImage{
  overflow: hidden;
}
.cardImage img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: 0.25s;
}

.card:hover .cardImage img {
  transform: scale(1.07);
}

.cardContent {
  width: 100%;
  height: 100%;
  padding: 0.8rem 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  background-color: #edefee;
}

.cardHeadingPrice {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  
}

.cardTitle {
  font-size: 2rem;
  font-weight: 500;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif, "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif, "Arial Narrow", Arial, sans-serif, Courier,
    monospace;
}

.cardPrice {
  font-size: 1.6rem;
  color: #ee9972;
}

.cardDescription {
  font-size: 1.6rem;
  color: #495e57;
  flex-grow: 1;
  /* margin-bottom: 1.2rem; */
}

.orderDelivery {
  color: rgba(0, 0, 0, 0.89);
  display: flex;

  gap: 2rem;
  align-items: center;
  margin: 1.2rem 0;
}

.orderTitle {
  font-size: 1.6rem;
}

.orderDelivery button {
  border: none;
  display: block;
  transform: translateY(0.3rem);
}
