.header {
  width: 100%;
  padding: 0.7rem 0;
  position: relative;
}

.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: -5;
}
.nav {
  max-width: 920px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
}

.headerLogo img {
  display: block;
  width: 20rem;
}

.navList {
  display: flex;
}

.navList li {
  list-style-type: none;
  font-size: 2rem;
  margin-right: 2.8rem;
  font-weight: 500;
}

.navList li:last-child {
  margin-right: 0;
}

.navList li a {
  text-decoration: none;
  color: black;
  transition: 0.25s;
}
.navList li a:hover {
  color: rgb(51, 255, 0);
}
