.footer{
    background-color:#d9d9d9 ;
    padding: 5rem 0;
}

.footerCenter{
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 4rem;
    align-items: center;

}

.footerLogo{
    width: 100%;
    height: 100%;  
}

.footerLogo img{
    width: 90%;
    height: 100%;
    object-fit: cover;
}


.navList h1{
       font-size: 2rem;
       font-weight: bold;
       color: #495E57;

}
.navList{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem;
    border: 2px solid;
   
    
}

.navList ul{
    margin-top: 0.5rem;
}
.navList li{
    list-style: none;
    font-size: 1.6rem;
    
}
.navList li a{
    color: #333333;
    text-decoration: none;
    font-weight: 500;
}
