/* variables */

:root {
  --clr-bg-1: #495e57;
  --clr-bg-2: #edefee;
  --clr-bg-3: #d9d9d9;
  --clr-heading-1: #bedb0a;
  --clr-gray-1: rgba(0, 0, 0, 0.35);
  --clr-yellow-1: #f4ce14;
  /* Hover Colors */
  /* --clr-hover-green: #070bff; */
  /* sizes */
  --max-width: 920px;
  --font-size-large-1: 5rem;
  --font-size-large-2: 4rem;
  --font-size-4: 2rem;
  --font-size-5: 1.8rem;
  --font-size-6: 1.5rem;
  --font-weight-medium: 500;
  /* transistion */
  --transition: all 0.25s linear;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Global Selectors */

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

._max_width_center {
  width: 95%;
  max-width: var(--max-width);
  margin: 0 auto;
}

._flex_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-size: 5.6rem;
  font-weight: 500;
}

h2 {
  font-size: 4rem;
  font-weight: 500;
}

._BTN_ {
  border: none;
  outline: none;
  cursor: pointer;
  transition: var(--transition);
}

._show_ {
  display: block;
}

._hide_ {
  display: none;
}

/* NavBar */

.main_nav_header {
  width: 100%;
  padding: 0.7rem 0;
  background-color: #fff;
  position: relative;
}

.main_nav_header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--clr-gray-1);
}

.main_nav_logo {
  width: 20rem;
}

.main_nav_logo img {
  display: block;
  width: 100%;
}
.main_nav_list {
  gap: 2.8rem;
}

.main_nav_list li {
  font-size: 2rem;
  font-weight: var(--font-weight-medium);
  position: relative;
}

.main_nav_list li a {
  color: rgba(0, 0, 0, 0.5);
  transition: all 0.2s;
}

.main_nav_list li a:hover,
.main_nav_list li a.active {
  color: rgb(0, 0, 0, 0.9);
}

.main_nav_list li a.active::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: -5px;
  left: 0;
}

.nav_bars i {
  font-size: 2.5rem;
  display: none;
  cursor: pointer;
}

.nav_bars i:active {
  background-color: none;
}

/* Hero */
.hero_section {
  width: 100%;
  height: 46.5rem;
}

.hero_sec_center {
  width: 100%;
  background-color: var(--clr-bg-1);
}

.hero_article {
  height: 40.6rem;
  position: relative;
}

.hero_text {
  max-width: 400px;
  height: 83%;
  flex-direction: column;
  align-items: flex-start;
}

.hero_text h1 {
  color: var(--clr-heading-1);
}

.hero_text header > p {
  color: #fff;
}

.hero_text p {
  font-size: 2.1rem;
  color: #e6e6e6;
  line-height: 3rem;
  max-width: 33.2rem;
  word-wrap: break-word;
}

.reserve_btn {
  display: block;
  font-size: 2rem;
  font-weight: 600;
  padding: 15px 20px;
  border-radius: 16px;
  background-color: #f4ce14;
  border: none;
  outline: none;
  cursor: pointer;
  transition: var(--transition);
}

.reserve_btn:hover {
  filter: brightness(0.8);
}
.hero_Img {
  width: 37.5rem;

  height: 43.8rem;
  position: absolute;
  object-fit: cover;
  bottom: -55px;
  right: 0;
  z-index: 10;
}

.hero_Img img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}
/* Highlights section */

.highlight_section {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2.5rem;
}

.highlight_title {
  letter-spacing: 0.1rem;
}

.highlight_btn {
  font-size: 1.8rem;
  padding: 1.4rem 2.2rem;
  background-color: black;
  color: white;
}
.highlight_btn:hover {
  filter: opacity(0.7) brightness(0.9);
}

.highlight_card_container {
  width: 100%;
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  gap: 1.3rem;
}

/* Specials Card */

.specials_card {
  max-width: 26.5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1.05fr;
  row-gap: 1rem;
  background-color: var(--clr-bg-2);
  overflow: hidden;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.specials_card_img {
  overflow: hidden;
}

.specials_card img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: var(--transition);
}

.specials_card:hover .specials_card_img img {
  transform: scale(1.07);
}

.specials_card_content {
  width: 100%;
  height: 100%;
  padding: 0.8rem 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.specials_card_heading_price {
  margin-bottom: 1.5rem;
}

.specials_card_title {
  font-size: 2rem;
  font-weight: 500;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif, "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif, "Arial Narrow", Arial, sans-serif, Courier,
    monospace;
  color: rgba(0, 0, 0, 0.7);
}
.specials_card_price {
  font-size: 1.6rem;
  color: #ee9972;
}

.specials_card_desc {
  font-size: 1.6rem;
  color: #495e57;
  flex-grow: 1;
}

.special_order_delivery {
  color: rgba(0, 0, 0, 0.7);
  display: flex;

  gap: 2rem;
  align-items: center;
  margin: 1.2rem 0;
}

.special_order_title {
  font-size: 1.6rem;
}

.special_order_delivery button {
  border: none;
  display: block;
  transform: translateY(0.3rem);
}

/* Testimonials */

.testimonial_section {
  width: 100%;
  background-color: var(--clr-bg-3);
  margin-bottom: 10rem;
  padding: 4.5rem 0;
}

.testi_sec_center {
  padding: 7rem 0 9rem;
  gap: 2rem;
}
.testimonial_heading {
  font-size: 3.5rem;
  font-weight: 500;
  text-align: center;
}

.testi_card {
  width: 20.5rem;
  padding: 1.2rem 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffffce;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.301);
  border-radius: 1rem;
  transition: 0.3s;
  position: relative;
}

.testi_card:hover {
  background-color: #fff;
  transform: scale(1.1);
  z-index: 5;
}

.testi_img_el img {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 100px;
}

.testi_img_caption {
  margin: 1rem 0 0.5rem;
}

.testi_img_caption h3 {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
}

.testi_text_content {
  margin: 1rem 0;
}

.testi_text_content h3 {
  font-size: 1.6rem;
  color: #000000b2;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.testi_text_content blockquote {
  font-size: 1.6rem;
}

.testi_rating_section {
  width: 100%;
  gap: 0.2rem;
  margin: 0.6rem 0;
}

.testi_rating_section h3 {
  color: #000000b2;
  margin-right: 1rem;
  flex: 1;
}

.testi_rating_section i {
  color: rgb(252, 32, 99);
  font-size: 1.5rem;
}

/* About */
.about_section {
  min-height: 46.8rem;
  margin: 10rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.about_text_content {
  width: 94%;
  display: grid;
  grid-template-rows: 1fr 2fr;
}

.about_text_content header h2 {
  font-size: 3rem;
  font-weight: 500;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif,
    "Arial Narrow", Arial, sans-serif;
}

.about_text_content p {
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
  word-spacing: 0.7rem;
}

.about_image_content {
  position: relative;
  height: 100%;
}

.about_image_content figure img {
  position: absolute;
  object-fit: cover;
  width: 272px;
  height: 338px;
}

.about_fig1 {
  top: 0;
  right: 0;
}

.about_fig2 {
  bottom: 0;
  left: 0;
}

/* Footer */

.footer_sec {
  background-color: var(--clr-bg-3);
  padding-bottom: 1rem;
}

.footer_top_nav {
  width: 100%;
  text-align: center;
  background-color: #37475a;
  padding: 0.35rem;
  padding: 0.5rem;
  margin-bottom: 1.6rem;
  cursor: pointer;
  transition: var(--transition);
}

.footer_top_nav:hover {
  opacity: 0.9;
}

.footer_top_nav i {
  font-size: 1.4rem;
  padding: 0.2rem 0;
  color: white;
  color: #74c0fc;
}

.footer_top_nav p {
  font-size: 1.1rem;
  color: white;
  text-transform: capitalize;
}

.footer_center {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 4rem;
  align-items: center;
  overflow: hidden;
  padding: 2rem 0;
}

.footer_logo {
  width: 100%;
  height: 100%;
}

.footer_logo img {
  width: 50%;
  object-fit: cover;
}

.footer_navList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;
}
.footer_navList h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #495e57;
}
.footer_navList ul {
  margin-top: 0.5rem;
}
.footer_navList li {
  font-size: 1.6rem;
}

.footer_navList li a {
  color: #333333;
  text-decoration: none;
  font-weight: 500;
}

.footer_navList li a:hover {
  text-decoration: underline;
}

.footer_nav_section {
  display: grid;
  grid-template-rows: 1fr 3fr;
}

@media screen and (max-width: 848px) {
  .main_nav_logo {
    width: 18rem;
  }
  .main_nav_list {
    gap: 2.4rem;
  }
  .main_nav_list li {
    font-size: 1.8rem;
  }
  /* hero section */
  .hero_Img {
    width: 34.5rem;
  }

  /* Specials Card*/
  .specials_card {
    width: 24rem;
    row-gap: 0.5rem;
  }

  /* Testimonials */

  .testi_card {
    min-width: 15rem;
    padding: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .main_nav_header {
    position: fixed;
    top: 0;
    z-index: 999;
  }
  .main_nav_header nav {
    position: relative;
  }
  .main_nav_logo {
    width: 15rem;
  }
  .main_nav_list li a {
    padding: 0.9rem 4rem;
    border-radius: 15%;
    overflow: hidden;
    color: #fff;
  }
  .main_nav_list {
    padding: 5rem;
    text-align: center;
    color: #fff;
    background-color: rgb(0, 0, 0, 0.4);
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5rem;
    position: fixed;
    right: -250rem;
    top: 5.4538rem;
    width: 100%;
    height: 100%;
    z-index: 99;
    backdrop-filter: blur(25px);
    transition: 0.18s linear;
  }

  .main_nav_list li a.active::after {
    width: 0;
    height: 0;
  }

  .main_nav_list li a:hover {
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 15px 10px;
    color: #fff;
    border: 1px solid;
  }

  .main_nav_list li a.active {
    color: #2e9efa;

    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 15px 10px;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .showMenu {
    right: 0;
  }
  .main_nav_list li {
    font-size: 2rem;
    margin: 2rem 0;
  }

  .nav_bars i {
    display: block;
  }

  /* hero */

  .hero_section {
    height: 100%;
  }

  .hero_article {
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    gap: 2.5rem;
  }

  .hero_Img {
    height: 90%;
    width: 100%;

    position: static;
    object-fit: cover;
    overflow: hidden;
    border-radius: 1rem;
  }

  /* highlights section */
  .highlight_section {
    margin-top: 2rem;
    margin-bottom: 1rem;
    gap: 1rem;
  }

  .highlight_section > header h2 {
    font-size: 3.2rem;
  }
  .highlight_btn {
    padding: 1rem 2rem;
  }

  .highlight_card_container {
    flex-direction: column;
  }

  /* Specials_card */

  .specials_card {
    max-width: 100%;
    width: 100%;
    gap: 4rem;
    padding: 2rem 1rem;
    border-radius: 5px;
    box-shadow: none;
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
  }

  .specials_card_img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 1.2rem;

    order: 1;
  }

  .specials_card_img button {
    background-color: #f4ce14;
    padding: 0.6rem 1rem;
    border-radius: 10px;
    font-size: 1.5rem;
  }

  .specials_card_content {
    padding: 0;
    display: grid;
    order: 0;
  }

  .specials_card_content header {
    padding-right: 2rem;
  }

  .specials_card_img img {
    width: 100%;
  }

  .special_order_delivery {
    margin-top: 1rem;
    margin-bottom: 0;
  }

  /* Testimonials */

  .testimonial_section {
    padding: 1.5rem 0;
    margin-bottom: 0rem;
  }

  .testimonial_heading {
    font-size: 2.5rem;
  }

  .testi_sec_center {
    padding: 2rem 0;
    flex-wrap: nowrap;
    overflow-x: auto;
    scrollbar-width: none;
  }

  .testi_sec_center::-webkit-scrollbar {
    display: none;
  }

  .testi_img_el img {
    width: 75px;
    height: 75px;
  }

  .testi_img_caption h3 {
    font-size: 1.5rem;
  }

  .testi_text_content {
    margin: 0;
  }

  .testi_text_content h3 {
    font-size: 1.5rem;
    color: black;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  .testi_text_content blockquote {
    font-size: 1.26rem;
    line-height: 1.4rem;
  }

  .testi_rating_section i {
    color: rgb(252, 32, 99);
    font-size: 1rem;
  }

  .testi_card:hover {
    background-color: #fff;
    transform: none;
    z-index: 5;
  }

  /* About */

  .about_section {
    margin: 2rem auto;
    min-height: 100%;
    padding: 0.5rem 0;
  }

  .about_text_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: static;
  }

  .about_text_content header h1 {
    font-size: 2.5rem;
  }

  .about_text_content header h2 {
    font-size: 1.8rem;
  }
  .about_text_content p {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 500;
  }

  .about_image_content {
    height: 30rem;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .about_image_content figure {
    position: relative;
    width: 200px;
    height: 200px;
  }

  .about_image_content figure img {
    width: 200px;
    height: 200px;
  }

  .about_fig1 {
    top: -25%;
    left: 34%;
  }
  .about_fig2 {
    bottom: -25%;
    left: -34%;
  }

  /* Footer */
}

@media screen and (max-width: 686px) {
  h1 {
    font-size: 4rem;
  }
  .hero_text p {
    font-size: 1.8rem;
  }

  .hero_Img {
    height: 50%;
    width: 100%;
    position: static;
    object-fit: cover;
    overflow: hidden;
    border-radius: 1rem;
  }

  /* About */

  .about_section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  /* Footer */

  .footer_sec {
    padding: 0;
    padding-bottom: 1rem;
    height: 100%;
  }

  .footer_top_nav i {
    font-size: 1.3rem;
  }

  .footer_center {
    gap: 0;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    padding: 1rem 0;
  }
  .footer_logo {
    order: 5;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
  }

  .footer_logo img {
    width: 35%;
  }

  .footer_logo p {
    font-size: 1.2rem;
    position: relative;
  }

  .footer_logo p::after {
    content: "";
    display: block;
    width: 50%;
    height: 1px;
    background-color: #000;
    position: absolute;
    bottom: 0;
    right: -50%;
  }
  .footer_logo p::before {
    content: "";
    display: block;
    width: 50%;
    height: 1px;
    background-color: #000;
    position: absolute;
    bottom: 0;
    left: -50%;
  }

  .footer_navList {
    padding: 0.2rem;
    display: flex;
    justify-content: space-between;
    order: 2;
  }

  .footer_navList h1 {
    font-size: 1.7rem;
  }

  .footer_navList li {
    font-size: 1.5rem;
    padding: 0.2rem 0;
  }
}

@media screen and (max-width: 500px) {
  .hero_article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2rem 0;
    height: 100%;
  }

  .hero_text {
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }

  .hero_text header h1 {
    font-size: 2.5rem;
    word-spacing: 0.5rem;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
  }

  .hero_div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.6rem;
    padding: 1rem 0;
    margin-bottom: 2rem;
  }

  .hero_div p {
    font-size: 1.4rem;
    flex: 1;
    line-height: 2.5rem;
  }

  .hero_div .hero_Img {
    flex: 1.2;
    width: 20rem;
    height: 15rem;
  }

  .reserve_btn {
    padding: 1rem 2.5rem;
    font-size: 1.5rem;
    border-radius: 10%;
  }

  /* Highlights Section */

  .highlight_section > header h2 {
    font-size: 2.5rem;
  }

  .highlight_btn {
    font-size: 1.5rem;
  }

  .highlight_card_container {
    padding: 1.2rem 0;
  }

  /* Specials card */

  .specials_card {
    gap: 1rem;
    padding: 1.2rem 0.5rem;
  }

  .specials_card_title {
    font-size: 1.8rem;
  }

  .specials_card_img button {
    padding: 0.5rem 1rem;
  }

  .specials_card_desc {
    font-size: 1.29rem;
    line-height: 1.7rem;
  }

  .special_order_title {
    font-size: 1.4rem;
  }

  /* Testimonials */

  .testi_sec_center {
    scrollbar-width: none;
  }

  .testi_sec_center::-webkit-scrollbar {
    display: none;
  }

  /* About */

  /* Footer */

  .footer_navList h1 {
    font-size: 1.5rem;
  }

  .footer_navList li {
    font-size: 1.3rem;
    padding: 0.2rem 0;
  }
}

/* Reservation Testing */

.reservation {
  border: 2px solid;
  height: 50vh;
  /* background-color: rgb(25, 111, 34); */
}

.reservation-heading{
  font-size: 3.5rem;
  color: var(--clr-heading-1);
  margin-bottom: 2rem;
}
.reservation form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr 1fr;
  gap: 2.5rem 5rem;
}

.reservation label {
  display: block;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.indoor label,
.outdoor label {
  display: inline;
  font-size: 2rem;
}

.indoor input,
.outdoor input {
  width: unset;
  vertical-align: middle;
  margin-left: 1rem;
  transform: translateY(-3px);

} 

.reservation-input-container {
  border: 2px solid;
  border-radius: 5px;
  position: relative;
  width: 75%;
  cursor: pointer;
}



.date-input,.members-input,.occasion-input,.time-input {
  display: block;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}

.date input[type="date"]::-webkit-calendar-picker-indicator {
  width: 100%;
  font-size: 2rem;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
  padding: 1.2rem;
  /* appearance: none; */
}

.members-input,.occasion-input,.time-input {
  padding: 1rem;
}
.absolute {
  padding: 0.5rem 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  z-index: -1;
  opacity: 1;
}

.absolute span {
  font-size: 2rem;
  opacity: 0.6;
}

.show-input-details {
  background-color: var(--clr-bg-1);
  color: white;
  opacity: 1;
  font-weight: 500;
}

.show-input-details span {
  opacity: 1;
}

select option {
  font-size: 2.5rem;
  
}
